p {
    font-size: 1rem;
    letter-spacing: .15rem;
	font-family: serif;
	color: #330000;
}

a {
    color: #bd0827;
    font-size: 1.1em;
}

a:visited {
    color: #330000;
}

a:hover {
    background-color: bd0827;
    color: white;
}

body {
    max-width: 90%;
    margin: auto;
    background: -webkit-linear-gradient(45deg, rgb(222, 222, 241), rgb(106, 89, 133));
    background: linear-gradient(45deg, rgb(222, 222, 241), rgb(106, 89, 133));
}

blockquote {
    width: 50%;
    margin: 80px auto;
    font-size: 1.6rem;
    background-color: #ddd;
    border-left: 3px solid firebrick;
    padding: 30px;
}